/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:16:27 PM
    Author     : aabarb
*/

body { 
  background: url(../../images/bubbles4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #88eef4;
  overflow: hidden;
}

#product {
    margin-top:120px !important;
}

.carousel-indicators .active {
    background-color: black;
}

.progress-striped {
    text-align: center;
}
.progress-striped .progress-bar {
    margin:auto;
}

.btn-group {
    text-align: center;
}