/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:16:27 PM
    Author     : aabarb
*/

body {
    background: #666 url(../../images/bubbles4.png) no-repeat fixed center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#product {
    margin-top: 120px !important;
}

.carousel-indicators .active {
    background-color: black;
}

.progress-striped {
    text-align: center;
}

.progress-striped .progress-bar {
    margin: auto;
}

.btn-group {
    text-align: center;
}

.carousel{
    position: inherit;
}
.carousel-caption h2 {
    color: #ffffff;
}

.carousel-caption {
    bottom: 60px;
}