.panel-top-fixed{
    position: fixed;
    top: 0px;
    z-index: 900;
    width: 100%;
}

.body-panel-top{
    padding-top: 70px;
}

.a-black{
    color: #000000;
}
.a-black:hover{
    color: #000000;
    text-decoration: none;
}